<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="{{path.js}}/jquery-3.2.1.min.js" ></script>
<script src="{{path.js}}/script.js" ></script>
<script src="{{path.js}}/svg4everybody.min.js" ></script>
<script>
svg4everybody();
document.createElement("picture");
</script> 

{% if followcursor == 'true' %}
	<script>
		document.addEventListener('DOMContentLoaded', () => {
		  const followCursor = () => {
		    var el = document.querySelector('.section__bg.is--glow'); 
		    if (el != null) {
			    window.addEventListener('mousemove', e => {
			    	const target = e.target 			    	
		      		el.classList.remove("is--over")
		      		if (!target) return
				      /*if (target.closest('a')) { // если курсор наведён на ссылку
				        el.classList.add('follow-cursor_active') // элементу добавляем активный класс
				      } else { // иначе
				        el.classList.remove('follow-cursor_active') // удаляем активный класс
				      }*/

			      el.style.left = e.pageX + 'px' 
			      el.style.top = e.pageY + 'px'
			    })
			    window.addEventListener('mouseout', e => { 			    	
			      	el.classList.add("is--over")
			  	})
			  }
		  }
		  followCursor()
		});
	</script>
{% endif %}
{% if fullpage == 'true' %}
{#
<script src="vendors/easings.min.js"></script>

 <script type="text/javascript" src="vendors/scrolloverflow.min.js"></script> #}

<script src="{{path.js}}/fullpage.min.js"></script>
<script>
	$('#modal-challenge').on('show.bs.modal', function (e) {
		 

		$('#fullpage').fullpage({
			fixedElements: '#nav',
			//responsiveWidth: '768',
	        //licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
			//options here
			//autoScrolling:true,
			//fadingEffect:true,
			//scrollHorizontally: true
			/*afterLoad: function(origin, destination, direction){
			var loadedSection = this;
				//using index
				if(origin.index == 2){
					alert("Section 3 ended loading");
				}
			}*/
			//afterLoad: function(origin, destination, direction){
			/*afterRender: function(){
				$('body').addClass('is--render');
			},*/
			onLeave: function(origin, destination, direction){
			//afterLoad: function(origin, destination, direction){
				var leavingSection = this;

				if(origin.index == 0 && direction =='down'){
					$('#nav1').removeClass('is--visible');
					$('#nav1').addClass('is--viewed');
					$('#nav2').addClass('is--visible');
					$('.section__nav').addClass('is--slide1');
					$('.section__img').addClass('is--slide1');
				}
				else if(origin.index == 1 && direction == 'up'){				
					$('#nav1').addClass('is--visible');
					$('#nav1').removeClass('is--viewed');
					$('#nav2').removeClass('is--visible');
					$('.section__nav').removeClass('is--slide1');

					$('.section__img').removeClass('is--slide1');
				}
				else if(origin.index == 1 && direction == 'down'){				
					$('#nav2').addClass('is--viewed');
					$('#nav2').removeClass('is--visible');

					$('#nav3').addClass('is--visible');
					$('.section__nav').removeClass('is--slide1');
					$('.section__nav').addClass('is--slide2');

					$('.section__img').removeClass('is--slide1');
					$('.section__img').addClass('is--slide2');
				}
				else if(origin.index == 2 && direction == 'up'){
					$('#nav3').removeClass('is--visible');
					$('#nav2').addClass('is--visible');
					$('#nav2').removeClass('is--viewed');			

					$('.section__nav').addClass('is--slide1');
					$('.section__nav').removeClass('is--slide2');
					
					$('.section__img').addClass('is--slide1');
					$('.section__img').removeClass('is--slide2');
				}
				else if(origin.index == 2 && direction == 'down'){
					$('.section__img').addClass('is--slide3');
					$('.section__img').removeClass('is--slide2');
				}
				else if(origin.index == 3 && direction == 'up'){
					$('.section__img').addClass('is--slide2');
					$('.section__img').removeClass('is--slide3');
				}
				else if(origin.index == 3 && direction == 'down'){				
					$('#nav3').removeClass('is--visible');
					$('#nav3').addClass('is--viewed');	
					$('#nav4').addClass('is--visible');
					$('.section__nav').addClass('is--slide3');
					$('.section__nav').removeClass('is--slide2');

					$('.section__img').addClass('is--slide4');
					$('.section__img').removeClass('is--slide3');
				}
				else if(origin.index == 4 && direction == 'up'){				
					$('#nav4').removeClass('is--visible');
					$('#nav3').addClass('is--visible');
					$('#nav3').removeClass('is--viewed');	
					$('.section__nav').addClass('is--slide2');
					$('.section__nav').removeClass('is--slide3');

					$('.section__img').addClass('is--slide3');
					$('.section__img').removeClass('is--slide4');
				}
				/*
				if(origin.index == 0 && direction =='down'){
					$('#img').addClass('animate');
				}
				else if(origin.index == 1 && direction =='up'){
					$('#img').removeClass('animate');
				}

				if(origin.index == 4 && direction =='up'){
					$('#img').removeClass('static');
					//$('.section__text.is--right').removeClass('is--static');
				}
				else if(origin.index == 3 && direction == 'down' ){				
					$('#img').addClass('static');
					//$('.section__text.is--right').addClass('is--static');
				}*/
			}
		});
		//
	
		$('.section__group.is--challenge-modal').addClass('is--visible');
	});
	$('#modal-challenge').on('hide.bs.modal', function (e) {
		$('.section__group.is--challenge-modal').toggleClass('is--visible');
		fullpage_api.destroy('all');
		$('.section__nav').removeClass('is--slide1 is--slide2 is--slide3 is--slide4');
		$('#nav1').addClass('is--visible');
		$('#nav2').removeClass('is--visible  is--viewed');
		$('#nav3').removeClass('is--visible  is--viewed');
		$('#nav4').removeClass('is--visible  is--viewed');
		$('.section__img').removeClass('is--slide1 is--slide2 is--slide3 is--slide4');
	});

	if($(document).width() < 768) {
		//$(".scroll--xs").wrapAll('<div class="section__inner"></div>');
		//fullpage_api.setResponsive(true);
	}
</script>
{% endif %}