.card__{
	&item{
		&.is--index-concept{
			background-color: @default-p;
			border-radius: @site_br - 10px;
			display: flex;
			align-items: center;
			gap: 25px;
			padding: 10px 10px 10px 15px;
			min-height: 148px;
			.media-breakpoint-up(@md; {
				border-radius: @site_br;
				text-align: center;
				flex-direction: column;
				align-items:initial;
				padding: 40px 20px;
				min-height: 420px;
				&:nth-child(3){
					.card__heading{
						max-width: 250px;
						margin-left: auto;
						margin-right: auto;
					}
				}
			});
		}
		&.is--index-blockquote{
			position: relative;
			background: linear-gradient(103.94deg, #010D18 7.9%, #03101A 95.56%);
			box-shadow: 39.7704px 50.4778px 87.1889px rgba(0, 0, 0, 0.23);
			border-radius: @site_br - 10;
			padding: 70px 20px 50px;
			&::before{
				content: '“';
				position: absolute;
				top: -5.5%;
				left: 5.5%;
				z-index: 1;
				font-weight: 900;
				line-height: 100%;
				font-size: 9.444rem;
				filter: blur(0.671418px);
				color: @white;
				text-shadow: 0px 0px 9.39986px rgba(49, 255, 156, 0.7), 0px 0px 36.3899px rgba(49, 255, 156, 0.5);
			}
			.media-breakpoint-up(@xl; {
				border-radius: @site_br;
				padding: 95px 100px 75px;
				&::before{
					top: -11%;
					left: 7.5%;
				}
			});
		}
		&.is--index-connect{
			position: relative;
			.media-breakpoint-up(@md; {
				&::before{
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: -15px;
					width: 1px;
					background-color: fadeout(@black, 60%);
				}
			});
			&:last-child{
				&::before{
					display: none;
				}
			}
		}
		//page
		&.is--сhallenge-adv{
			background: @white-g;
			box-shadow: @default-s;
			border-radius: @site_br - 10px;
			color: @black;
			padding: 20px 35px;
			min-height: 260px;
			.media-breakpoint-up(@md; {
				border-radius: @site_br;
				padding: 35px 30px 35px 40px;
				min-height: 290px;
			});
		}
		&.is--сhallenge-adv-thumb{
			color: fadeout(@white, 80%);
			transition: @trs-site;
			&.slick-current{
				color: @white;
			}
		}
		&.is--сhallenge-item{
			font-size: .778rem;
			line-height: 150%;
			.media-breakpoint-up(@md; {
				max-width: 270px;
			});
		}
		&.is--сhallenge-card{
			max-width: 270px;
			min-height: 420px;
			position: relative;
			transition: @trs-site;
			border-radius: @site_br;
			color: @black;
			font-size: 0.889rem;
			line-height: 135%;
			padding: 60px 30px;
			background: linear-gradient(115.86deg, #FAE579 3.38%, #E9FF92 20.66%, #E9FFA9 39.52%, #C0F3A0 61.68%, #8EE9BD 77.79%, #28D4EB 100.07%);
			
			box-shadow: @default-s;
			.media-breakpoint-up(@md; {
				&:hover{
					box-shadow: 0px 0px 65.9298px rgba(253, 255, 176, 0.5), inset 0px 0px 6.59298px rgba(253, 255, 176, 0.5);
				}
			});
		}
		&.is--сhallenge-team{
			display: flex; 
			gap: 10px;
			& > *:nth-child(1){
				width: 28.8vw;
				min-width: 133px;
			}
			& > *:nth-child(2){
				flex: 1 1 auto;
				margin-top: -4px;
			}
			.media-breakpoint-up(@md; {
				gap: 70px;
				margin: 0px 0 0 2.8vw;
				& > *:nth-child(2){
					margin-top: 0;
					padding-top: 15px;
				}
			});
		}
		&.is--challenge-events{
			position: relative;
			padding-left: 20px;
			padding-bottom: 67px;
			border-left: 1px solid @black;
			&::before{
				content: '';
				position: absolute;
				background-color: @black;
				left: -8px;
				width: 8px;
				height: 1px;
				bottom: 42px;
				transform: rotate(45deg);
			}
			&::after{
				content: '';
				position: absolute;
				background-color: @black;
				left: -1px;
				width: 8px;
				height: 1px;
				bottom: 42px;
				transform: rotate(-45deg);
			}
			&:last-child{
				padding-bottom: 0;
				&::before,
				&::after{
					bottom: 3px;
				}
			}
			.media-breakpoint-up(@md; {
				border-left: 0;
				padding-bottom: 0;
				&::before,
				&::after{
					display: none;
				}
				padding-left: 0;
				&:last-child{
					.card__group::after{
						right: 0;
					}
				}
			});
			.media-breakpoint-up(@xl; {
				&:last-child{
					.card__heading{
						width: 120%;
					}
				}
			});
		}
		&.is--competencies{
			display: flex;
			flex-direction: column;
			overflow: hidden;
			height: 100%;
			border-radius: @site_br - 10;
			color: @black;
			background: @white-g;
			box-shadow: @default-s;
			.media-breakpoint-up(@sm;{
				min-height: 425px;
			});
		}
		&.is--university{
			color: @black;
			&.is--card{
				background: @white-g;
				box-shadow: @default-s;
				border-radius: @site_br - 10;
				padding: 40px 20px 35px;
				min-height: 435px;
			}
			&.is--item{
				.media-breakpoint-up(@md; {
					display: grid;
					grid-gap: 40px 30px;
					grid-template-columns: repeat(2, 1fr);
					& > *:nth-child(1){
						align-self: flex-start;
					}
					& > *:nth-child(2){
						order: -1;
						padding-top: 75px;
					}
					& > *:nth-child(3){
						grid-column: span 2;
					}
				});
				.media-breakpoint-up(@lg; {
					grid-gap: 80px 30px; 
				});
			}
		}
		&.is--team{
			display: flex;
			gap: 30px;
			& > *:nth-child(2){
				flex: 1 1 0;
			}
		}
		&.is--docs{
			color: @white;
			font-size: .778rem;
    		line-height: 130%;
			font-family: @site_ff_custom;
			.icon-pdf();
			padding-top: 5px;
			padding-left: 45px;
			min-height: 35px;
			&:hover{
				color: @primary;
				.icon-pdf(@c: '31FF9C');
			}
			&[href$=".pdf"]{

			}
		}
		&.is--competencies-adv{
			display: flex;
			flex-direction: column;
			gap: 10px 14px;
			.media-breakpoint-up(@lg; {
				flex-direction: row;
			});
		}
	}
	&group{
		&.is--index-blockquote{
			display: flex;
			gap: 16px;
			flex-direction: column;
			.media-breakpoint-up(@xl; {
				max-width: 650px;
				margin-left: auto;
				gap: 34px;
				flex-direction: row;
				text-align: right;
				.card__img{
					order: 1;
				}
			});
		}
		&.is--index-challenge{
			max-width: 220px;
			margin: 0 auto;
			.media-breakpoint-up(@sm; {
				max-width: initial;
				margin: 0;
			});
		}
		//page
		&.is--сhallenge-adv{
			display: flex;
			align-items: center;
			gap: 25px;
			margin-bottom: 18px;
			justify-content: center;
			.media-breakpoint-up(@md; {
				margin-bottom: 25px;
				justify-content: initial;
			});
		}
		&.is--сhallenge-card{
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: @default-p;
			border-radius: @site_br - 5;
			color: @white;
			padding: 75px 25px;
			transition: @trs-site;
			.card__item:hover &{
				opacity: 0;
			}
		}
		&.is--challenge-events{
			.media-breakpoint-up(@md; {
				position: relative;
				padding-bottom: 15px;
				&::before{
					content: '';
					position: absolute;
					background-color: @black;
					right: 0px;
					width: 8px;
					height: 1px;
					bottom: 3px;
					transform: rotate(45deg);
				}
				&::after{
					content: '';
					position: absolute;
					bottom: 0;
					background-color: @black;
					height: 1px;
					left: 0;
					right: -30px;
				}
			});
		}
		&.is--competencies{
			flex: 1 1 0;
			padding: 40px 20px;
			.media-breakpoint-up(@xl; {
				padding: 20px 38px;
			});
		}
		&.is--university{
			&.is--item{
				//margin-bottom: 40px;
				& + .section__group.is--university-team.is--visible{
					margin-top: 40px;
				}
			}
		}
	}
	&img{
		&.is--index-concept{
			display: flex;
			justify-content: center;
			min-width: 90px;
			width: 90px;
			height: 60px;
			.media-breakpoint-up(@md; {
				min-width: initial;
				width: auto;
				height: 113px;
				align-items: flex-end;
				margin-bottom: 18px;
				img{
					height: initial;
				}
			});
		}
		&.is--index-blockquote{
			display: block;
			min-width: 77px;
			width: 77px;
			height: 77px;
			overflow: hidden;
			border-radius: 50%;
			.media-breakpoint-up(@xl; {
				min-width: 88px;
				width: 88px;
				height: 88px;
			});
			img{
				.img-bg();
			}
		}
		&.is--index-challenge{
			max-width: 140px;
			margin: 0 auto 25px;
			.media-breakpoint-up(@sm; {
				max-width: initial;
				margin: 0 0 20px;
			});
		}
		//page
		&.is--сhallenge-item{
			margin: 0 auto 15px; 
			max-width: 140px;
			.media-breakpoint-up(@md; {
				max-width: initial;
				margin: 0 0 18px;
			});
		}
		&.is--сhallenge-card{
			margin-bottom: 35px;
			img{
				margin: 0 auto;
			}
		}
		&.is--сhallenge-team{
			position: relative;
			&::before{
				content: '';
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 50%;
				max-width: 320px;
				width: 84%;
				height: 88%;
				background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
				box-shadow: 0px 0px 5.10377px rgba(49, 255, 156, 0.7), 0px 0px 19.7583px rgba(49, 255, 156, 0.5), inset 0px 0px 1.97583px rgba(49, 255, 156, 0.5);
				border-radius: @site_br - 15;
				transform: rotate(-13.68deg) translate(-34%,-66%);
				filter: blur(0.364555px);
			}
			picture{
				display: block;
				position: relative;
				z-index: 2;
				border-radius: @site_br - 16;
				overflow: hidden;
				width: 112px;
				height: 112px;
				margin: 0 auto;
			}
			img{
				.img-bg();
			}
			.media-breakpoint-up(@md; {
				&::before{
					max-width: 87%;
					width: 87%;
					height: 100%;
					transform: rotate(-13.68deg) translate(-40%,-60%);
					border-radius: @site_br + 15px;
					filter: blur(1.21645px);
				}
				picture{
					width: 100%;
					max-width: 372px;
					height: 372px;
					border-radius: @site_br + 8;
				}
			});
		}
		&.is--competencies{
			min-height: 225px;
			height: 225px;
			img{
				.img-bg();
			}
		}
		&.is--competencies-adv{
			min-width: 30px;
			width: 30px;
		}
		&.is--university{
			position: relative;
			margin-bottom: 40px;
			&.is--card{

			}
			&::before{
				content: '';
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 50%;
				max-width: 320px;
				width: 87%;
				height: 205px;
				background: linear-gradient(0deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), linear-gradient(112.38deg, #27FFBE -2.28%, #17FF82 106.43%);
				box-shadow: 7.96347px 1.70646px 28.441px #9CFFED;
				border-radius: @site_br - 15;
				transform: rotate(-11.96deg) translate(-40%,-60%);
			}
			picture{
				display: block;
				position: relative;
				z-index: 2;
				border-radius: @site_br - 15;
				overflow: hidden;
				max-width: 350px;
				width: 87%;
				margin: 0 auto;
				height: 205px;
			}
			img{
				.img-bg();
			}
			.media-breakpoint-up(@md; {
				margin: 0px;
				&::before{
					max-width: 97%;
					width: 97%;
					height: 335px;
					transform: rotate(-11.96deg) translate(-42%,-64%);
					border-radius: @site_br;

				}
				picture{
					width: 100%;
					max-width: 100%;
					height: 360px;
					border-radius: @site_br;
				}
			});
		}
		&.is--team{
			min-width: 100px;
			width: 100px;
			height: 100px;
			border-radius: @site_br - 20;
			overflow: hidden;
			picture{
				display: block;
				width: 100%;
				height: 100%;
			}
			img{
				.img-bg();
			}
		}
	}
	&heading{
		&.is--index-concept{
			font-family: @site_ff_custom;
			font-weight: 400;
			.media-breakpoint-down(@md; {
				font-size: 0.778rem;
				line-height: 150%;
			});
		}
		&.is--index-blockquote{
			color: @primary;
			font-weight: 400;
			margin-bottom: 10px;
		}
		&.is--index-challenge{
			.t16();
			margin-bottom: 25px;
			text-align: center;
			.media-breakpoint-up(@sm; {
				text-align: left;
			});
			.media-breakpoint-up(@xl; {
				font-weight: 500;
				margin-bottom: 22px;
			});
		}
		&.is--index-connect{
			font-weight: 400;
			.text20();
			margin-bottom: 10px;
		}
		//page
		&.is--сhallenge-adv{
			display: none;
			font-weight: 400;
			.text20();
			.media-breakpoint-up(@md; {
				display: block;
			});
		}
		&.is--сhallenge-item{
			font-weight: 400; 
			margin-bottom: 15px;
			.text20();
			text-align: center;
			.media-breakpoint-up(@md; {
				text-align: left;
				margin-bottom: 10px;
			});
		}
		&.is--сhallenge-card{
			font-size: 1.111rem;
			line-height: 155%;
			font-family: @site_ff_custom;
			font-weight: 400;
			text-align: center;
		}
		&.is--сhallenge-team{
			font-weight: 500;
			margin-bottom: 10px;
			font-size: 1rem;
			line-height: 130%;
			.media-breakpoint-up(@md; {
				font-size: 1.111rem;
			});
		}
		&.is--challenge-events{
			font-weight: 400;
			text-transform: uppercase;
			.text20();
		    margin-bottom: 8px;
			.media-breakpoint-up(@md; {
				display: flex;
			    align-items: flex-end;
			    min-height: 50px;
			});
		}
		&.is--competencies{
			font-weight: 400;
			font-size: 1.111rem;
			line-height: 120%;
			margin-bottom: 15px;
			.media-breakpoint-up(@xl; {
				.heading4();
				margin-bottom: 20px;
			});
		}
		&.is--university{
			font-weight: 400;
			.heading4();
			&.is--item{
				margin-bottom: 20px;
			}
		}
		&.is--team{
			font-weight: 400;
			margin-bottom: 5px;
		}
		&.is--competencies-adv{
			font-family: @site_ff_custom;
			font-weight: 300;
			.text16();
			padding-top: 3px;
		}
		&.is--docs{
			opacity: 0.8;
		}
	}
	&note{
		&.is--index-blockquote{
			.text18();
			line-height: 150%;
			& + .card__group{
				margin-top: 55px;
			}
			.media-breakpoint-up(@xl; {
				& + .card__group{
					margin-top: 40px;
				}
			});
		}
		&.is--index-challenge{
			.text14();	
			max-width: 190px;
			margin: 0 auto;
			font-family: @site_ff_custom;
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					padding-left: 15px;
					position: relative;
					margin-bottom: 8px;
					&::before{
						content: '';
						position: absolute;
						top: 5px;
						left: 0;
						width: 5px;
						height: 5px;
						background-color: @primary;

					}
				}
			}
			.media-breakpoint-up(@sm; {
				max-width: initial;
				margin: 0;
			});
		}
		&.is--index-connect{
			font-family: @site_ff_custom;
			.text14();
			opacity: 0.8;
		}
		//page
		&.is--сhallenge-adv{
			font-family: @site_ff_custom;
			font-size: 0.889rem;
			line-height: 140%;
			text-align: center;
			.media-breakpoint-up(@md; {
				font-size: 0.778rem;
				text-align: left;
				p,div{
					margin-bottom: 12px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			});
		}
		&.is--сhallenge-item{
			font-family: @site_ff_custom;
			p{
				margin-bottom: 10px;
			}
			div{
				font-size: 85%;
				line-height: 155%;
			}
			ul{
				font-weight: 300;
				margin: 0 0 15px;
				padding: 0;
				list-style: none;
				li{
					padding-left: 15px;
					position: relative;
					margin-bottom: 10px;
					&::before{
						content: '';
						position: absolute;
						top: 5px;
						left: 0;
						width: 5px;
						height: 5px;
						background-color: @primary;

					}
				}
			}
			& > *:last-child{
				margin-bottom: 0;
			}
		}
		&.is--сhallenge-card{
			p{
				margin-bottom: 10px;
			}
			ul{
				margin: 0 0 15px;
				padding: 0;
				list-style: none;
				li{
					padding-left: 15px;
					position: relative;
					margin-bottom: 25px;
					&::before{
						content: '';
						position: absolute;
						top: 5px;
						left: -1px;
						width: 6px;
						height: 6px;
						background-color: @black;

					}
					&:last-child{
						margin-bottom: 0;
					} 
				}
			}
			& > *:last-child{
				margin-bottom: 0;
			}
		}
		&.is--challenge-events{
			padding-top: 12px;
			position: relative;
			font-family: @site_ff_custom;
			font-size: .889rem;
    		line-height: 140%;
			ul{
				margin: 0 0 0px;
				padding: 0;
				list-style: none;
				opacity: 0.8;
				li{
					padding-left: 15px;
					position: relative;
					margin-bottom: 10px;
					&::before{
						content: '';
						position: absolute;
						top: 5px;
						left: 0px;
						width: 5px;
						height: 5px;
						background-color: @black;

					}
					&:last-child{
						margin-bottom: 0;
					} 
				}
			}
			.media-breakpoint-up(@md; {
				padding-top: 17px;
				ul{
					li{
						margin-bottom: 15px;
					}
				}
				&::before{
					content: '';
					position: absolute;
					background-color: @black;
					right: 0px;
					width: 8px;
					height: 1px;
					top: 2px;
					transform: rotate(-45deg);
				}
			});
		}
		&.is--competencies{
			font-family: @site_ff_custom;
			.heading6();
		}
		&.is--university{
			font-size: 0.889rem;
			line-height: 150%;
			font-family: @site_ff_custom;
			.media-breakpoint-up(@md; {
				line-height: 145%;
			});
		}
	}
	&label{
		&.is--index-blockquote{
			font-family: @site_ff_custom;
			.text16();
			.media-breakpoint-up(@xl; {
				font-weight: 300;
			});
		}
		&.is--сhallenge-team{
			font-family: @site_ff_custom;
			.t16();
			margin-bottom: 20px;
			.media-breakpoint-up(@md; {
				margin-bottom: 30px;
			});
		}
		&.is--team{
			font-family: @site_ff_custom;
			.text14();
			margin-bottom: 10px;
			//font-weight: 300;
			opacity: 0.8;
		}
	}
	&tel{
		.t16();
		font-family: @site_ff_custom;
		margin-bottom: 7px;
		a{
			color: @white;
			.icon-tel();
			background-position: 0 0;
			padding-left: 30px;
			
		}
		&.is--team{
			.text14();
			a{
				color: @black;
				padding-left: 25px;
				.section__group.is--competencies-card &{
					color: @white;
					opacity: 0.8;
				}
			}
		}
	}
	&email{
		.t16();
		font-family: @site_ff_custom;
		a{
			color: @white;
			.icon-email();
			background-position: 0 1px;
			padding-left: 30px;
		}
		&.is--team{
			.text14();
			a{
				color: @black;
				padding-left: 25px;
				.section__group.is--competencies-card &{
					color: @white;
					opacity: 0.8;
				}
			}
		}
	}
}