@maket: url(/img/maket/navbar.jpg) no-repeat center 0; 
@maket: url(/img/maket/competencies.jpg) no-repeat center 0; 
@maket: url(/img/maket/competencies-xs.jpg) no-repeat center 0; 
@maket: url(/img/maket/index-xs.jpg) no-repeat center 0; 
@maket: url(/img/maket/index.jpg) no-repeat center 0; 
@maket: url(/img/maket/university-modal.png) no-repeat 11px -280px;  
@maket: url(/img/maket/university.jpg) no-repeat center 0;  
@maket: url(/img/maket/university-xs.jpg) no-repeat center 0; 
@maket: url(/img/maket/competencies-card.jpg) no-repeat center 0;  
@maket: url(/img/maket/competencies-card-xs.jpg) no-repeat center 0;
@maket: url(/img/maket/404.jpg) no-repeat center 0;  
@maket: url(/img/maket/404-xs.jpg) no-repeat center 0; 
@maket: url(/img/maket/challenge-xs.jpg) no-repeat center 0; 
@maket: url(/img/maket/challenge.jpg) no-repeat center 0;  
@opacity: 0.7;
//@opacity: 0.4;
//@opacity: 0.8;
/*
body{
	opacity: @opacity; 
	.section__content{
		opacity: @opacity;
		//opacity: 0;
	}
	.footer__block{
		opacity: @opacity;
	}
	.modal__block{
		opacity: 0.4!important;
	}
	&::after{
		content: '';
		background: @maket!important;
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;  
	}
}
/* 
*/